* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.model-container {
    display: none;
    position: absolute;
    background-color: beige;
    margin: 0 auto;
    max-height: 500px;
    width: 80%;
}

dialog::backdrop {
    background-color: blue;
}
  

.model-container>.model > .model-body {
    max-height: 400px;
    overflow-y: scroll;
}

.model-container >.model >.model-bottom{
    background-color: black;
    padding: 5px;
    bottom: 0;
    position: absolute;
    width: 100%;
    color: white;
}